{% extends  "base.html" %}
{% block title %}Home{% endblock %}
{% block content %} 
    <div align="center">
    <h2>Hi user</h2></div>
    <h4>IDK i just wanted to make this, you proabably know this design from my other website yes i suck with website designing</h4>
    <h4>but i tried, thats all that matters.....right? (i put a lot of effort and sweat into this pls like :) </h4>
    <h4> but on a side note, this bot actually has more than just hard work, its got a lot of emotions, a bit of tears too :') </h4>
    <h6> here take a hug to make your day better! <3 </h6>
{% endblock %}